<!DOCTYPE html>
<% provide(:title, "Home") %>
<% provide(:search_results, @images.html_safe) %>
<% provide(:profile_picture, @profile_picture) %>
<h1>Logged into Instagram</h1>
<div id="search-results">
  <h1>Search results</h1>
  <%= yield(:search_results)%>
</div>
<div id="map-canvas"></div>
